body{
background-color: rgb(208, 237, 227);
}

.contact-card{
    width: 400px;
    padding: 10px;
    border: 1px solid #005B40;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #b1f5bf;
}